# Dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

# Backend dependencies
/backend/node_modules

# Production
/frontend/build
/frontend/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/logs
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3

# Coverage
/coverage

# Temporary files
*.tmp
*.temp